RAPIDPRO_URL=https://za.rapidpro.idems.international
RAPIDPRO_API_TOKEN=

CKAN_URL=https://sds.plhdashboard.org/
CKAN_API_KEY=


## Settings for the normal contacts upload
CKAN_OWNER_ORG=idems_ptext_sa_swift
CKAN_DATASET=saswift_contacts
CKAN_RESOURCE_NAME=SWIFT Contacts Research Export
DENYLIST_FIELDS=sq 3m parentintn, sq 3m teenintn, sq 3m teenintname, sq 3m teenintparn, certificate_name, sq_cert_name, child_nickname, sq_base_childname
IGNORE_CONSENT_COLUMN=TRUE
## python -m parenttext.rapidpro_api_tools --steps export_contacts
## python -m parenttext.ckan_tools --file contacts.csv --dataset saswift_contacts --resource-name "SWIFT Contacts Research Export" --reconcile "uuid"


# Settings for uploading contacts to group, replace upload file/ group name as desired
UPLOAD_FILE=1month_failed_notifications.csv
UPLOAD_GROUP_NAME=1month notification failed
# python -m parenttext.rapidpro_api_tools --steps upload_contacts_to_group -d



## Qualitative interview export - uncomment and comment out the normal contacts upload settings
# CKAN_DATASET=idems_ptext_sa_swift_qualitative_interviews
# CKAN_RESOURCE_NAME=SA SWIFT Qualitative Interviews
# CKAN_OWNER_ORG=sa_swift_qualitative_interviews_contact_information
# ALLOWLIST_FIELDS=sq 3m parentintn, sq 3m teenintn, sq 3m teenintname, sq 3m teenintparn, consent
# IGNORE_CONSENT_COLUMN=TRUE

## python -m parenttext.rapidpro_api_tools --steps export_contacts && python -m parenttext.ckan_tools --file contacts.csv